{% extends "base.html" %}
{% load static %}

{% block title %} detail d'un membre {% endblock %}

{% block content %}
<!-- row -->
<div class="container-fluid">    
    <div class="row page-titles mx-0">
        <div class="col-sm-6 p-md-0">
            <div class="welcome-text">
                <h4>Detail d'un membre</h4>
            </div>
        </div>
        <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0);">Membres</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0);">Detail d'un membre</a></li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-xxl-4 col-lg-4">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="text-center p-3 overlay-box" style="background-image: url(images/big/img1.jpg);">
                            <div class="profile-photo">
                                <img class="img-fluid rounded-circle" width="100" src="{% static 'images/profile/small/pic3.jpg' %}" alt="">
                            </div>
                            <h3 class="mt-3 mb-1 text-white">Ashton Cox</h3>
                        </div>                                    
                        <div class="card-footer text-center border-0 mt-0">								
                            <a href="javascript:void(0);" class="btn btn-primary btn-rounded px-4">Follow</a>
                            <a href="javascript:void(0);" class="btn btn-warning btn-rounded px-4">Message</a>
                        </div>
                    </div>
                </div>                                           
            </div>
        </div>
        <div class="col-xl-9 col-xxl-8 col-lg-8">
            <div class="card">
                <div class="card-body">
                    <div class="profile-tab">
                        <div class="custom-tab-1">
                            <ul class="nav nav-tabs">
                                <li class="nav-item"><a href="#about-me" data-toggle="tab" class="nav-link active show">information d'un membre</a></li>
                                <li class="nav-item"><a href="#my-posts" data-toggle="tab" class="nav-link">Posts</a></li>
                                <!-- s -->
                            </ul>
                            <div class="tab-content">
                                <div id="about-me" class="tab-pane fade active show">
                                    <div class="profile-personal-info pt-4">
                                        <h4 class="text-primary mb-4">information personelle</h4>
                                        <div class="row mb-4">
                                            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                                                <h5 class="f-w-500">Reference<span class="pull-right">:</span>
                                                </h5>
                                            </div>
                                            <div class="col-lg-9 col-md-8 col-sm-6 col-6"><span>{{membre.reference}}</span>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                                                <h5 class="f-w-500">Name <span class="pull-right">:</span>
                                                </h5>
                                            </div>
                                            <div class="col-lg-9 col-md-8 col-sm-6 col-6"><span>{{membre.nom}}</span>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                                                <h5 class="f-w-500">Sexe <span class="pull-right">:</span>
                                                </h5>
                                            </div>
                                            <div class="col-lg-9 col-md-8 col-sm-6 col-6"><span>{{membre.get_sex_display}}</span>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                                                <h5 class="f-w-500">Email <span class="pull-right">:</span>
                                                </h5>
                                            </div>
                                            <div class="col-lg-9 col-md-8 col-sm-6 col-6"><span>{{membre.email}}</span>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                                                <h5 class="f-w-500">Adresse <span class="pull-right">:</span>
                                                </h5>
                                            </div>
                                            <div class="col-lg-9 col-md-8 col-sm-6 col-6"><span>{{membre.adresse}}</span>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                                                <h5 class="f-w-500">Telephone<span class="pull-right">:</span></h5>
                                            </div>
                                            <div class="col-lg-9 col-md-8 col-sm-6 col-6"><span>{{membre.telephone}}</span>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                                                <h5 class="f-w-500">Email<span class="pull-right">:</span></h5>
                                            </div>
                                            <div class="col-lg-9 col-md-8 col-sm-6 col-6"><span>{{membre.telephone}}</span>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                                                <h5 class="f-w-500">Type d'identite<span class="pull-right">:</span></h5>
                                            </div>
                                            <div class="col-lg-9 col-md-8 col-sm-6 col-6"><span>{{membre.get_type_id_display}}</span>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                                                <h5 class="f-w-500">Numero <span class="pull-right">:</span></h5>
                                            </div>
                                            <div class="col-lg-9 col-md-8 col-sm-6 col-6"><span>{{membre.numero_id}}</span>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                                                <h5 class="f-w-500">Description<span class="pull-right">:</span></h5>
                                            </div>
                                            <div class="col-lg-9 col-md-8 col-sm-6 col-6"><span>{{membre.description}}</span>
                                            </div>
                                        </div>
                                    </div>                                       
                                </div>
                                <div id="my-posts" class="tab-pane fade">
                                    <div class="my-post-content pt-3">
                                        <div class="post-input">
                                            <textarea name="textarea" id="textarea" cols="30" rows="5" class="form-control bg-transparent" placeholder="Please type what you want...."></textarea> <a href="javascript:void()"><i class="ti-clip"></i> </a>
                                            <a href="javascript:void()"><i class="ti-camera"></i> </a><a href="javascript:void()" class="btn btn-primary">Post</a>
                                        </div>
                                        <div class="profile-uoloaded-post border-bottom-1 pb-5">
                                            <img src="{% static 'images/profile/8.jpg' %}" alt="" class="img-fluid">
                                            <a class="post-title" href="javascript:void()">
                                                <h4>Collection of textile samples lay spread</h4>
                                            </a>
                                            <p>A wonderful serenity has take possession of my entire soul like these sweet morning of spare which enjoy whole heart.A wonderful serenity has take possession of my entire soul like these sweet morning
                                                of spare which enjoy whole heart.</p>
                                            <button class="btn btn-primary mr-3"><span class="mr-3"><i class="fa fa-heart"></i></span>Like</button>
                                            <button class="btn btn-secondary"><span class="mr-3"><i class="fa fa-reply"></i></span>Reply</button>
                                        </div>
                                        <div class="profile-uoloaded-post border-bottom-1 pb-5">
                                            <img src="{% static 'images/profile/9.jpg' %}" alt="" class="img-fluid">
                                            <a class="post-title" href="javascript:void()">
                                                <h4>Collection of textile samples lay spread</h4>
                                            </a>
                                            <p>A wonderful serenity has take possession of my entire soul like these sweet morning of spare which enjoy whole heart.A wonderful serenity has take possession of my entire soul like these sweet morning
                                                of spare which enjoy whole heart.</p>
                                            <button class="btn btn-primary mr-3"><span class="mr-3"><i class="fa fa-heart"></i></span>Like</button>
                                            <button class="btn btn-secondary"><span class="mr-3"><i class="fa fa-reply"></i></span>Reply</button>
                                        </div>
                                        <div class="profile-uoloaded-post pb-5">
                                            <img src="{% static 'images/profile/8.jpg' %}" alt="" class="img-fluid">
                                            <a class="post-title" href="javascript:void()">
                                                <h4>Collection of textile samples lay spread</h4>
                                            </a>
                                            <p>A wonderful serenity has take possession of my entire soul like these sweet morning of spare which enjoy whole heart.A wonderful serenity has take possession of my entire soul like these sweet morning
                                                of spare which enjoy whole heart.</p>
                                            <button class="btn btn-primary mr-3"><span class="mr-3"><i class="fa fa-heart"></i></span>Like</button>
                                            <button class="btn btn-secondary"><span class="mr-3"><i class="fa fa-reply"></i></span>Reply</button>
                                        </div>
                                        <div class="text-center mb-2"><a href="javascript:void()" class="btn btn-primary">Load More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
{% endblock %}

