{% extends 'base.html'%}
{% load static %}

{% block style %}
<link href="{% static 'vendor/datatables/css/jquery.dataTables.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<link rel="stylesheet" href="{% static 'css/skin.css' %}">
{% endblock %}

{% block title %}cotisation{% endblock %}
{% block scripts %}
<script src="{% static 'vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/plugins-init/datatables.init.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $(document).ready(function() {
        document.querySelectorAll('.deleteButton').forEach(button => {
            button.onclick = function() {
                const cotisationId = this.dataset.id; // Récupère l'ID du membre à partir de l'attribut data-id
    
                Swal.fire({
                    title: 'Êtes-vous sûr de vouloir supprimer cette ligne?',
                    text: 'Vous ne pourrez pas récupérer cette ligne!',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Supprimer',
                    cancelButtonText: 'Annuler',
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Envoi de la requête de suppression
                        fetch(`/cotisation/delete/${cotisationId}/`, {  // Ajustez l'URL selon votre configuration
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': '{{ csrf_token }}'  // Ajoutez le token CSRF pour la sécurité
                            }
                        })
                        .then(response => {
                            if (response.ok) {
                                Swal.fire('Membre supprimé !', '', 'success').then(() => {
                                    // Optionnel : Redirigez ou mettez à jour la page
                                    window.location.reload(); // Recharge la page pour mettre à jour la liste
                                });
                            } else {
                                Swal.fire('Erreur lors de la suppression du membre !', '', 'error');
                            }
                        })
                        .catch(error => {
                            Swal.fire('Erreur lors de la requête !', '', 'error');
                        });
    
                    } else if (result.isDismissed) {
                        Swal.fire('Membre non supprimé !');
                    }
                });
            };
        });    
    });
</script>
{% endblock %}

{% block content %}
<!-- row -->
<div class="container-fluid">
	    
    <div class="row page-titles mx-0">
        <div class="col-sm-6 p-md-0">
            <div class="welcome-text">
                <h4>Cotisations</h4>
            </div>
        </div>
        <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Acceuil</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0);">Cotisations</a></li>
            </ol>
        </div>
    </div>
	
	<div class="row">
		<div class="col-lg-12">
			<ul class="nav nav-pills mb-3">
				<li class="nav-item"><a href="#list-view" data-toggle="tab" class="nav-link btn-primary mr-1 show active">List View</a></li>
				<li class="nav-item"><a href="#grid-view" data-toggle="tab" class="nav-link btn-primary">Grid View</a></li>
			</ul>
		</div>
		<div class="col-lg-12">
			<div class="row tab-content">
				<div id="list-view" class="tab-pane fade active show col-lg-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Cotisations  </h4>
							<!-- <a href="add-professor.html" class="btn btn-primary">+ Ajoter le nouveau</a> -->
							<button type="button" class="btn btn-primary js-create-entity" 
							data-url="{% url 'cotisation_create' %}">
								+ Formulaire pour ajouter la cotisation 
							</button>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table id="example3" class="display" style="min-width: 845px">
									<thead>
										<tr>
											<th></th>
											<th>Reference</th>
											<th>Type de cotisation</th>
											<th>Montant minimun</th>
										   	<th>Date debut</th>
											<th>Date fin</th>
											<th>Periode</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
                                        {% for cotisation in cotisations %}
										<tr>
											<td><img class="rounded-circle" width="35" src="{% static 'images/profile/small/pic1.jpg' %}" alt=""></td>
											<td>{{cotisation.reference}}</td>
											<td>{{cotisation.type_cotisation}}</td>
											<td>{{cotisation.montant_min}}</td>
											<td>{{cotisation.date_debut}}</td>
											<td>{{cotisation.date_fin}}</td>
											<td>{{cotisation.get_periode_display}}</td>
											<td class="d-flex justify-content-end" >
												<button  type="button" class="btn btn-sm btn-primary mr-1 js-update-entity" data-toggle="modal" data-url="{% url 'cotisation_update' cotisation.id %}" ><i class="la la-pencil"></i></button>												
												<a href="{% url 'cotisation_detail' cotisation.id %}" class="btn btn-sm btn-success mr-1"><i class="la la-folder-open"></i></a>												
                                                <button type="button" class="btn-sm btn-danger deleteButton" data-id="{{ cotisation.id }}"><i class="la la-trash-o"></i></button>
											</td>												
										</tr>
                                        {% endfor %}												
									</tbody>
								</table>
							</div>
						</div>
                    </div>
                </div>
				<div id="grid-view" class="tab-pane fade col-lg-12">
					<div class="row">
                        {% for coti in cotisations %}
						<div class="col-lg-4 col-md-6 col-sm-6 col-12">
							<div class="card card-profile">
							  <div class="card-header justify-content-end pb-0">
								<div class="dropdown">
								  <button class="btn btn-link" type="button" data-toggle="dropdown">
									<span class="dropdown-dots fs--1"></span>
								  </button>
								  <div class="dropdown-menu dropdown-menu-right border py-0">
									<div class="py-2">
										<a class="dropdown-item">											
											<button  type="button" href="{% url 'cotisation_detail' coti.id %}" class="btn btn-sm btn-primary" style="background: none; border: none; color: rgb(77, 84, 153); padding: 0; cursor: pointer;">Edit</button>
										</a>
										<a class="dropdown-item">
											<button type="button" class="btn btn-sm btn-danger  deleteButton" style="background: none; border: none; color: rgb(199, 88, 88); padding: 0; cursor: pointer;">supprimer</button>
										</a>
									</div>
								  </div>
								</div>
							  </div>
							  <div class="card-body pt-2">
									<div class="text-center">
									    <div class="profile-photo">											
										    <img src="{% static 'images/profile/small/pic1.jpg'%}" class="img-fluid rounded-circle" width="100"  alt="">
									    </div>
									    <h3 class="mt-4 mb-1">Deangelo</h3>										  
									    <ul class="list-group mb-3 list-group-flush">
											<li class="list-group-item px-0 d-flex justify-content-between">
												<span class="mb-0">Reference:</span><strong>{{coti.reference}}</strong></li>
									  	    <li class="list-group-item px-0 d-flex justify-content-between">
									  	        <span class="mb-0">Montant:</span><strong>{{coti.type_cotisation}}</strong></li>
											<li class="list-group-item px-0 d-flex justify-content-between">
											    <span class="mb-0">Montant:</span><strong>{{coti.montant_min}}</strong></li>
									  	    <li class="list-group-item px-0 d-flex justify-content-between">
									  	        <span class="mb-0">Periode :</span><strong>{{coti.periode}}</strong></li>
									  	    <li class="list-group-item px-0 d-flex justify-content-between">
									  	        <span class="mb-0">Date debut:</span><strong>{{membre.date_debut}}</strong></li>
									  	    <li class="list-group-item px-0 d-flex justify-content-between">
									  	        <span class="mb-0">Date fin:</span><strong>{{membre.date_fin}}</strong></li>
									    </ul>
									    <a class="btn btn-outline-primary btn-rounded mt-3 px-4" href="{% url 'cotisation_detail' coti.id %}">Read More</a>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
				    </div>
                </div>
			</div>
		</div>
	</div>				
</div>  

{% endblock %}

