{% extends "base.html" %}
{% load static %}

{% block title %} detail de type de cotisation {% endblock %}

{% block content %}
<!-- row -->
<div class="container-fluid">     
    <div class="row page-titles mx-0">
        <div class="col-sm-6 p-md-0">
            <div class="welcome-text">
                <h4>Detail d'un type de cotisation</h4>
            </div>
        </div>
        <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0);">Type de cotisations</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0);">Detail d'un type de cotisation</a></li>
            </ol>
        </div>
    </div>
    
    <div class="row">
        <div id="grid-view" class="tab-pane fade col-lg-12">
            <div class="row">
                {% for type in type_cotisations %}
                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="card card-profile">
                        <div class="card-header justify-content-end pb-0">
                            <div class="dropdown">
                                <button class="btn btn-link" type="button" data-toggle="dropdown">
                                  <span class="dropdown-dots fs--1"></span>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right border py-0">
                                    <div class="py-2">
                                        <a class="dropdown-item">											
                                            <button href="{% url 'type_cotisation_detail' type.id %}"  type="button" class="btn btn-sm btn-primary"  style="background: none; border: none; color: rgb(77, 84, 153); padding: 0; cursor: pointer;">Edit</button>
                                        </a>
                                        <a class="dropdown-item">
                                            <button type="button" class="btn btn-sm btn-danger deleteButton" style="background: none; border: none; color: rgb(199, 88, 88); padding: 0; cursor: pointer;">supprimer</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-body pt-2">
                            <div class="text-center">
                                <div class="profile-photo">											
                                  <img src="{% static 'images/profile/small/pic1.jpg' %}" class="img-fluid rounded-circle" width="100"  alt="">
                                </div>
                                <h3 class="mt-4 mb-1">Sabushimike frank</h3>										  
                                <ul class="list-group mb-3 list-group-flush">
                                    <li class="list-group-item px-0 d-flex justify-content-between">
                                        <span class="mb-0">Nom :</span><strong>{{type.nom}}</strong>
                                    </li>                                           
                                </ul>                                       										  
                                <ul class="list-group mb-3 list-group-flush">
                                    <li class="list-group-item px-0 d-flex justify-content-between">
                                        <span class="mb-0">Montant max retrait :</span><strong>{{type.montant_max_retrait}}</strong>
                                    </li>                                           
                                </ul>									  
                            
                                <a class="btn btn-outline-primary btn-rounded mt-3 px-4" href="{% url 'type_cotisation_detail' type.id %}">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>   
</div>
{% endblock %}

