{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- row -->
<div class="container-fluid">				    
    <div class="row">
        <div class="col-xl-12 col-xxl-12 col-sm-12">
            <div class="row">
                <div class="col-xl-3 col-xxl-3 col-sm-3">
                    <div class="widget-stat card">
                        <div class="card-body">
                            <h1>Utilisateurs </h1>
                            <h1 class="card-title">Nombre :  {{somme_users.total_users}}</h1> <br>
                            
                            <!-- <div class="progress mb-2">
                                <div class="progress-bar progress-animated bg-primary" style="width: 80%"></div>
                            </div>
                            <small>80% Increase in 20 Days</small> -->
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-xxl-3 col-sm-3">
                    <div class="widget-stat card">
                        <div class="card-body">
                            <h1 >Membres</h1>
                            <h3 class="card-title">Nombre : {{somme_membres.total_membres}}</h3>
                            <!-- <div class="progress mb-2">
                                <div class="progress-bar progress-animated bg-warning" style="width: 50%"></div>
                            </div> 
                            <small>50% Increase in 25 Days</small> -->
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-xxl-3 col-sm-3">
                    <div class="widget-stat card">
                        <div class="card-body">
                            <h1>Contributions</h1><br>
                            <h3 class="card-title">nombre total: {{somme_contributions.total_contributions}}</h3><br>
                            <h4 class="card-title">total: </h4><h2>{{somme_contributions.total_montant_contributions}} FBU</h2>
                            <!-- <div class="progress mb-2">
                                <div class="progress-bar progress-animated bg-red" style="width: 76%"></div>
                            </div>
                            <small>76% Increase in 20 Days</small> -->
                        </div>
                    </div>
                </div>
                <div class="col-xl3 col-xxl-3 col-sm-3">
                    <div class="widget-stat card">
                        <div class="card-body">
                            <h1>Assistances</h1><br>
                            <h3 class="card-title">Nombre total: {{somme_assistances.total_assistances}}</h3><br>
                            <h4 class="card-title">total: </h4><h2>{{somme_assistances.total_montant_assistances}} FBU</h2>
                            <!-- <div class="progress mb-2">
                                <div class="progress-bar progress-animated bg-success" style="width: 30%"></div>
                            </div>
                            <small>30% Increase in 30 Days</small> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>					
        <!-- <div class="col-xl-6 col-xxl-6 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Income/Expense Report</h3>
                </div>
                <div class="card-body">
                        <div id="morris_bar_2" class="morris_chart_height"></div>
                        <script>
                            var data = [
                                { label: "Assistance", value: {{ total_assistance }} },
                                { label: "Contributions", value: {{ total_contribution }} },
                                { label: "Cotisations", value: {{ total_cotisation }} },
                                { label: "Membres", value: {{ total_membre }} },
                                { label: "Users", value: {{ total_user }} }
                            ];
                        
                            new Morris.Bar({
                                element: 'morris_chart',
                                data: data,
                                xkey: 'label',
                                ykeys: ['value'],
                                labels: ['Total'],
                            });
                        </script>
                </div>
            </div>
        </div> -->
        <div class="col-xl-4 col-lg-4 col-xxl-4 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Liste des utilisateurs</h4>
                </div>
                <div class="card-body">
                    {% for user in user_all %}
                    <div class="media mb-3 align-items-center border-bottom pb-3">
                        <img class="mr-3 rounded-circle" alt="image" width="50" src="{% static 'images/profile/education/pic1.jpg' %}">
                        <div class="media-body">
                            {% if user.first_name or user.last_name %}
                            <h5 class="mb-0 text-pale-sky">{{user.first_name}} {{user.last_name}}<small class="text-muted">( {{user.is_active}} )</small></h5><br>
                             {% else %}
                             <h5 class="mb-0 text-pale-sky">{{user.username}}<small class="text-muted">( {{user.is_active}} )</small></h5><br>
                             {% endif %}
                             <small >Email : </small><small class="text-primary mb-0"> {{user.email}}</small><br>
                             <small >Date de creation:</small><small class="text-primary mb-0"> {{user.date_joined}}</small>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="text-center pt-3">
                        {% if request.user.is_staff or request.user.is_superuser %}
                            <button type="button" class="btn btn-primary btn-rounded btn px-5 btn-lg" data-toggle="modal" data-target="#userModal" onclick="showAccessMessage(true)" title="Oui, Vous etes autorises de voir ">List des utilisateurs</button>
                        {% else %}
                            <span class="btn btn-secondary btn-rounded btn px-5 btn-lg" onclick="showAccessMessage(false)" title="Non, Vous n'etes pas autorises de voir" >Accès refusé</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <!-- -----liste des contribution et des assistances------ -->

        <div class="col-xl-8 col-lg-8 col-xxl-8 col-md-12">
            <div class="card profile-tab">
                <div class="card-header">
                    <h4 class="card-title">Informations pour <i style="color: blue;">Liste des assistances</i> et  <i style="color: rgb(231, 56, 129);">Liste des contributions</i> </h4>
                </div>
                <div class="card-body custom-tab-1">
                    <ul class="nav nav-tabs mb-3">
                        <li class="nav-item"><a href="#my-posts1" data-toggle="tab" class="nav-link pb-2 active show">Contributions</a></li>
                        <li class="nav-item"><a href="#about-me1" data-toggle="tab" class="nav-link pb-2">Assistances</a></li>                  
                     </ul> 
                    <div class="tab-content">
                        <div id="my-posts1" class="tab-pane fade active show">
                            <div class="table-responsive recentOrderTable">
                                <table class="table verticle-middle table-responsive-md">
                                    <thead>
                                        <tr>
                                            <th scope="col">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="checkAll">
                                                    <label class="custom-control-label" for="checkAll"></label>
                                                </div>
                                            </th>
                                            <th scope="col">Nom d'un membre</th>
                                            <th scope="col">Type cotisation</th>
                                            <th scope="col">Contribution</th>
                                            <th scope="col">Date de contribution</th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for contribution in contribution_all %}
                                        <tr>
                                            <td>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="checkbox2">
                                                    <label class="custom-control-label" for="checkbox2"></label>
                                                </div>
                                            </td>
                                            <td>{{contribution.membre}}</td>
                                            <td>{{contribution.cotisation.type_cotisation}}</td>
                                            <td>{{ contribution.montant }}</td>
                                            <td>{{ contribution.date_contrib }}</td>
                                            
                                            <td>
                                                {% if request.user.is_staff or request.user.is_superuser %}
                                                <div class="dropdown custom-dropdown mb-0">
                                                    <div data-toggle="dropdown">
                                                        <i class="fa fa-ellipsis-v"></i>
                                                    </div>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="{% url 'contribution_list' %}">list</a>
                                                        <a class="dropdown-item text-danger" href="{% url 'home' %}">Cancel</a>
                                                    </div>                                                     
                                                </div>
                                                {% else %} 
                                                <span class="btn btn-primary btn-rounded btn px-5 btn-lg" onclick="showAccessMessage(false)" title="Non, Vous n'etes pas autorises de voir" >Accès refusé</span>                                                                                       
                                                {% endif %}
                                            </td>                                                  
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="about-me1" class="tab-pane fade">
                            <div class="table-responsive recentOrderTable">
                                <table class="table verticle-middle table-responsive-md">
                                    <thead>
                                        <tr>
                                            <th scope="col">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="checkAll">
                                                    <label class="custom-control-label" for="checkAll"></label>
                                                </div>
                                            </th>
                                            <th scope="col">Nom d'un membre</th>
                                            <th scope="col">Type cotisation</th>
                                            <th scope="col">Assistance</th>
                                            <th scope="col">Date d'assistance</th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for assistance in assistance_all %}
                                        <tr>
                                            <td>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="checkbox2">
                                                    <label class="custom-control-label" for="checkbox2"></label>
                                                </div>
                                            </td>
                                            <td>{{assistance.membre_assistant}}</td>
                                            <td>{{assistance.cotisation.type_cotisation}}</td>
                                            <td>{{ assistance.montant_assistance }}</td>
                                            <td>{{ assistance.date_assistance }}</td>
                                            
                                            <td>
                                                {% if request.user.is_staff or request.user.is_superuser %}
                                                <div class="dropdown custom-dropdown mb-0">
                                                    <div data-toggle="dropdown">
                                                        <i class="fa fa-ellipsis-v"></i>
                                                    </div>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="{% url 'assistance_list' %}">list</a>
                                                        <a class="dropdown-item" href="{% url 'assistance_detail' assistance.pk %}">Details</a>
                                                        <a class="dropdown-item text-danger" href="{% url 'home' %}">Cancel</a>
                                                    </div>
                                                </div>
                                                {% else %} 
                                                <span class="btn btn-primary btn-rounded btn px-5 btn-lg" onclick="showAccessMessage(false)" title="Non, Vous n'etes pas autorises de voir" >Accès refusé</span>                                                                                       
                                                {% endif %}
                                            </td>                                            
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        
        <!-- -----Fin sur la liste des contribution et des assistances------ -->
        
         <!-- <div class="col-xl-4 col-lg-4 col-xxl-4 col-md-12">
            <div class="card">
                <div class="card-header">    
                    <h4 class="card-title">Gold medal</h4>
                    <small class="text-success"><i class="fa fa-caret-up"></i> 20% High then last mont</small>
                </div>
                <div class="card-body pb-0">
                    <div class="row mt-2">
                        <div class="col">
                            <h6 class="font-weight-normal">Overall Growth</h6>
                            <strong>82.24%</strong>
                        </div>
                        <div class="col">
                            <h6 class="font-weight-normal">Montly</h6>
                            <strong>12.24 %</strong>
                        </div>
                        <div class="col">
                            <h6 class="font-weight-normal">Day</h6>
                            <strong>42.24%</strong>
                        </div>
                    </div>
                </div>
                <div class="chart-wrapper">
                    <span class="peity-line" data-width="100%">6,5,8,4,3,8,4,3,6,5,9,5,8,3,4,8,9,8,5,7</span>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-xxl-4 col-md-6">
            <div class="card">
                <div class="card-header">    
                    <h4 class="card-title">Silver medal</h4>
                    <small class="text-success"><i class="fa fa-caret-up"></i> 20% High then last mont</small>
                </div>
                <div class="card-body pb-0">
                    <div class="row mt-2">
                        <div class="col">
                            <h6 class="font-weight-normal">Overall Growth</h6>
                            <strong>82.24%</strong>
                        </div>
                        <div class="col">
                            <h6 class="font-weight-normal">Montly</h6>
                            <strong>12.24 %</strong>
                        </div>
                        <div class="col">
                            <h6 class="font-weight-normal">Day</h6>
                            <strong>42.24%</strong>
                        </div>
                    </div>
                </div>
                <div class="chart-wrapper">
                    <span class="peity-line-2" data-width="100%">9,3,7,8,6,7,3,3,7,4,6,8,3,4,7,3,4,7,8,5</span>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-xxl-4 col-md-6">
            <div class="card">
                <div class="card-header">    
                    <h4 class="card-title">Bronze medal</h4>
                    <small class="text-success"><i class="fa fa-caret-up"></i> 20% High then last mont</small>
                </div>
                <div class="card-body pb-0">
                    <div class="row mt-2">
                        <div class="col">
                            <h6 class="font-weight-normal">Overall Growth</h6>
                            <strong>82.24%</strong>
                        </div>
                        <div class="col">
                            <h6 class="font-weight-normal">Montly</h6>
                            <strong>12.24 %</strong>
                        </div>
                        <div class="col">
                            <h6 class="font-weight-normal">Day</h6>
                            <strong>42.24%</strong>
                        </div>
                    </div>
                </div>
                <div class="chart-wrapper">
                    <span class="peity-line-3" data-width="100%">3,8,3,7,8,6,3,4,7,3,7,9,6,3,7,6,7,3,4,2</span>
                </div>
            </div>
        </div> -->
        <div class="col-xl-12 col-lg-12 col-xxl-12 col-md-12">
            <div class="card profile-tab">
                <div class="card-header">
                    <h4 class="card-title">Contributions/Assistances et Status <i style="color: blue;">Paye Termine</i> ou  <i style="color: rgb(231, 56, 129);">Paye Non Termine</i> </h4>
                </div>
                <div class="card-body custom-tab-1">
                    <ul class="nav nav-tabs mb-3">
                        <li class="nav-item"><a href="#my-posts" data-toggle="tab" class="nav-link pb-2 active show">Contributions</a></li>
                        <li class="nav-item"><a href="#about-me" data-toggle="tab" class="nav-link pb-2">Assistances</a></li>                  
                     </ul> 
                    <div class="tab-content">
                        <div id="my-posts" class="tab-pane fade active show">
                            <div class="table-responsive">
                                <table class="table table-responsive-md">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Nom</th>
                                            <th scope="col">Montant Paye</th>
                                            <th scope="col">Montant Min</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">Action</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>                                 
                                        {% for item in contributions_data %}                                       
                                        <tr>
                                            <td><img src="{% static 'images/profile/education/pic1.jpg' %}" class="rounded-circle" width="35" alt=""></td>
                                            <td>{{ item.membre }}</td>                         
                                                
                                                <td>{{item.montant}}</td>
                                                <td>{{item.montant_min}}</td>
                                                {% if item.is_valid %}
                                                <td><span class="badge badge-rounded badge-success">Termine</span></td>
                                                {% else %}
                                                <td><span class="badge badge-rounded badge-danger">Pas Termine</span></td>
                                                {% endif %}                         
                                            <td>{{item.date_contrib}}</td> 
                                            <td>
                                                {% if request.user.is_staff or request.user.is_superuser %}
                                                <div class="dropdown custom-dropdown mb-0">
                                                    <div data-toggle="dropdown">
                                                        <i class="fa fa-ellipsis-v"></i>
                                                    </div>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="{% url 'contribution_list' %}">list</a>                                                       
                                                        <a class="dropdown-item text-danger" href="{% url 'home' %}">Cancel</a>
                                                    </div>
                                                </div>
                                                {% else %} 
                                                <span class="btn btn-primary btn-rounded btn px-5 btn-lg" onclick="showAccessMessage(false)" title="Non, Vous n'etes pas autorises de voir" >Accès refusé</span>                                                                                       
                                                {% endif %}
                                            </td>                                                                                                                               
                                        </tr> 
                                        {% endfor %}                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="about-me" class="tab-pane fade">
                            <div class="table-responsive">
                                <table class="table table-responsive-md">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Nom</th>
                                            <th scope="col">Montant Paye</th>
                                            <th scope="col">Montant Min</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">Action</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>                                 
                                        {% for item in assistance_data %}                                       
                                        <tr>
                                            <td><img src="{% static 'images/profile/education/pic1.jpg' %}" class="rounded-circle" width="35" alt=""></td>
                                            <td>{{ item.membre_assistant }}</td>                         
                                                
                                                <td>{{item.montant_assistance}}</td>
                                                <td>{{item.montant_min}}</td>
                                                {% if item.is_valid_ass %}
                                                <td><span class="badge badge-rounded badge-success">Termine</span></td>
                                                {% else %}
                                                <td><span class="badge badge-rounded badge-danger">Pas Termine</span></td>
                                                {% endif %}                         
                                            <td>{{item.date_assistance}}</td> 
                                            <td>
                                                {% if request.user.is_staff or request.user.is_superuser %}
                                                <div class="dropdown custom-dropdown mb-0">
                                                    <div data-toggle="dropdown">
                                                        <i class="fa fa-ellipsis-v"></i>
                                                    </div>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="{% url 'contribution_list' %}">list</a>                                                       
                                                        <a class="dropdown-item text-danger" href="{% url 'home' %}">Cancel</a>
                                                    </div>
                                                </div>
                                                {% else %} 
                                                <span class="btn btn-primary btn-rounded btn px-5 btn-lg" onclick="showAccessMessage(false)" title="Non, Vous n'etes pas autorises de voir" >Accès refusé</span>                                                                                       
                                                {% endif %}
                                            </td>                                                                                                                               
                                        </tr> 
                                        {% endfor %}                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
    <div div class="modal-dialog " role="document" style="max-width: 70%;">
        <div class="modal-content">
            <div class="modal-header" style="color: rgb(101, 105, 105);">
                <h5 class="modal-title" id="userModalLabel">Liste des Utilisateurs</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-sm table-hover  ">
                    <thead class="thead-light">
                        <tr>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th>Dernière connexion</th>
                            <th>Date d'inscription</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in user_all %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email|default:"aucun email" }}</td>
                            <td>{{ user.first_name|default:"aucun prenom" }}</td>
                            <td>{{ user.last_name|default:"aucun nom" }}</td>
                            <td>{{ user.last_login|default:"aucun login" }}</td>
                            <td>{{ user.date_joined|default:"aucun login" }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer" style="background-color: #dff0f7;">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<script>    
    function showAccessMessage(isAuthorized) {
        if (isAuthorized) {
            alert("Vous êtes autorisé à voir la liste des utilisateurs.");
            // Chargez les données utilisateur si nécessaire
            loadUserData(user.id);
        } else {
            alert("Vous n'êtes pas autorisé à voir cette liste.");
        }
    }    
</script>

{% endblock %}
